asttokens==2.4.1
cffi==1.16.0
clr-loader==0.2.6
colorama==0.4.6
decorator==5.1.1
executing==2.0.1
ipython==8.20.0
jedi==0.19.1
matplotlib-inline==0.1.6
parso==0.8.3
prompt-toolkit==3.0.43
pure-eval==0.2.2
pycparser==2.21
Pygments==2.17.2
pyrtlsdr==0.3.0
pyrtlsdrlib==0.0.2
pythonnet==3.0.3
six==1.16.0
stack-data==0.6.3
traitlets==5.14.1
wcwidth==0.2.13
wheel==0.42.0
